@font-face {
  font-family: "Ancizar sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ancizarsans_regular-webfont.eot"),
    url("../fonts/ancizarsans_regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ancizarsans_regular-webfont.woff") format("woff"),
    url("../fonts/ancizarsans_regular-webfont.ttf") format("truetype"),
    url("../fonts/ancizarsans_regular-webfont.svg#ancizar_sansbold_italic")
      format("svg");
}

body {
  margin: 0;
  font-family: "Ancizar sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.saveCaseButton {
  margin-right: 20px;
}

/* Sobre-escribiendo estilos de AntD */
.ant-form-item-required::before {
  font-size: 0px !important;
}

.ant-radio-button-wrapper:focus-within {
  outline: 3px solid rgba(45, 38, 86, 0.06) !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: white !important;
  background: #2d2656da !important;
  box-shadow: -1px 0 0 0 #2d2656 !important;
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #2d2656;
  border-radius: 4px;
  padding: 4px 11px;
}

.ant-table-tbody tr:nth-child(odd) {
  background-color: white;
}

.ant-table-tbody tr:nth-child(even) {
  background-color: whitesmoke;
}

/* Login y Contact */
.main-row-container {
  padding: 1em;
  padding-bottom: 0;
  margin-top: 1.5em;
}

.login-general {
  padding: 1em;
  padding-bottom: 0;
  margin-top: 1.5em;
  background-color: lightgrey;
  border-radius: 15px;
}

.login-welcome {
  text-align: center;
  margin-bottom: 1.5em;
}

.login-form-forgot {
  float: right;
  margin-top: -2em;
}

.login-form-remember {
  margin-bottom: 0em !important;
  width: 50%;
}

.login-form-button {
  width: 100%;
  margin-bottom: 1em;
  margin-top: 1em;
}

.login-form-contact {
  margin-bottom: 0.5em;
}

.login-form-button {
  width: 100%;
  margin-bottom: 1em;
  margin-top: 1em;
}

.contact-welcome {
  text-align: center;
}

/* Home */
.home-main-row {
  display: "flex";
  align-items: "center";
  justify-content: "center";
  margin-bottom: "10px";
}

.home-drawer-div {
  position: "absolute";
  right: 0;
  bottom: 0;
  width: "100%";
  border-top: "1px solid #e9e9e9";
  padding: "10px 16px";
  background: "#fff";
  text-align: "right";
}

.home-drawer-radio-style {
  display: "flex";
  white-space: "normal";
}

.home-title {
  margin-bottom: 0 !important;
}
